In [1]:
import os
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [39]:
#Executable path to driver
executable_path={'executable_path':'/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA MARS NEWS

In [4]:
# URL of page to be scraped
url='https://mars.nasa.gov/news/'

# Retrieve page with the requests module
browser.visit(url)

In [5]:

html=browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
news_title=soup.find('div',class_='content_title').find('a').text
news_p=soup.find('div',class_='article_teaser_body').text
print(news_title)
print(news_p)

InSight Captures Sunrise and Sunset on Mars
InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day.

# JPL MARS SPACE IMAGES

In [7]:
#Executable path to driver
#executable_path={'executable_path':'/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

In [8]:
jpl_mars_images_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_mars_images_url)

In [9]:
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [10]:
#Find URL for featured image
featured_image_url=soup.find('article')['style'].replace('background-image: url(','').replace(');','')

#"Unpack URL" - remove ''
featured_image_url=featured_image_url[1:-1]

#Base URL
jpl_url='https://www.jpl.nasa.gov'

#Base URL + Image URL
featured_image_url=jpl_url+featured_image_url

In [11]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18087-1920x1200.jpg

# MARS WEATHER

In [12]:
mars_weather_twitter='https://twitter.com/marswxreport?lang=en'
browser.visit(mars_weather_twitter)

In [13]:
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [14]:
tweets=soup.find('p',class_='TweetTextSize').text

In [15]:
mars_weather=tweets.replace('InSight','').replace('pic.twitter.com/0KZXlbiuXO','')

In [16]:
mars_weather

' sol 154 (2019-05-03) low -97.6ºC (-143.7ºF) high -17.2ºC (1.0ºF)\nwinds from the SW at 4.5 m/s (10.0 mph) gusting to 13.1 m/s (29.2 mph)\npressure at 7.40 hPa'

# MARS FACTS

In [17]:
mars_facts_url='https://space-facts.com/mars/'
tables=pd.read_html(mars_facts_url)
tables
mars_profile_df=tables[0]
mars_profile_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
mars_profile_df.columns=['','Value']
mars_profile_df.set_index('',inplace=True)
mars_profile_df

                                              Value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
mars_profile_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# MARS HEMISPHERES

In [44]:
mars_hemisphere_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemisphere_url)

In [45]:
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [46]:
hemispheres=soup.find_all('div',class_='item')

hemisphere_image_url=[]

for link in hemispheres:
    title=link.find('h3').text
    
    hemisphere_page_url=link.find('a',class_="itemLink product-item")['href']
    
    mars_hemisphere_base_url='https://astrogeology.usgs.gov'
    
    browser.visit(mars_hemisphere_base_url+hemisphere_page_url)
    
    html=browser.html
    
    soup=BeautifulSoup(html,'html.parser')
    
    img_url=soup.find('img',class_='wide-image')['src']
    
    img_url= mars_hemisphere_base_url + img_url
    
    hemisphere_image_url.append({'title':title,'image_url':img_url})
    
hemisphere_image_url

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]